h1 {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: rgb(0, 47, 0);
    padding: 0px 10px;
}


h2 {
    font-size: 27px;
    color: rgb(39, 155, 83);
    padding: 0px 10px;
}

p {
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px;
}

a:hover {
    color: rgb(2, 77, 2);
}

a {
    text-decoration: none;
}

header {
    background-color: #d7be9c;
}

main {
    background-color: #FFEBCD;
}

footer {
    background-color: #dabdab;
}

img {
    border: 7px solid black;
    margin: 7px;
    padding: 7px;
    height: 400px;
    width: 400px;
    object-fit: cover;
}


h4 {
    text-align: center;
    color: rgb(0, 47, 0)
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 200px;
}

.gridarea {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
        "b7 b2 b3 b4"
        ". b5 b6 b1";
    gap: 50px;

}

.box1 {
    grid-area: b1;
}

.box2 {
    grid-area: b2;
}

.box3 {
    grid-area: b3;
}

.box4 {
    grid-area: b4;
}

.box5 {
    grid-area: b5;
}

.box6 {
    grid-area: b6;
}

.box7 {
    grid-area: b7;
}