body {
    background-color: azure;
}

/*font weight*/

.bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/*txt*/

h1 {
    font-size: 60px;
    text-align: center;
    color: #0b3461;
}

h2 {
    font-size: 30px;
    color: #6397d0;
    text-align: center;
}

#div-title {
    padding: 5px 100px;
}

#title {
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
}

#div-content {
    padding: 5px 100px;
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
}

#img-caption {
    font-size: 14px;
    color: #0b3461;
}

h3 {
    font-size: 30px;
    color: #6397d0;
    text-align: center;
}

h4 {
    font-size: 20px;
    color: #6397d0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0b3461;
}

a:hover {
    color: violet;
    text-decoration: none;
}



/*images*/

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img-div {
    text-align: center;
}

#image {
    max-width: 100%;
    max-height: auto;
    display: inline-block;
}

/*footer*/

hr {
    color: #0b3461;
}

#footer {
    text-align: center;
    color: #0b3461;
    font-size: 14px;
}